footer {
    margin-top: 30px;
    background-color: black;
  }

  footer a{
    text-decoration: none;
  }
  .pmap{
    margin-top: 20px;
  }
  .col{
    color: white;
  }
  .logoFooter{
    display: flex;
    margin-left: 120px;
    margin-top: 60px;
    height: 66px;
    width: auto;
  }
  
  .tituloFooter1{
    color: white;
    margin-left: 120px;
    margin-top: 20px;
  }
  .horarios{
    color: white;
  }
  
  .mapa {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 60px;
    margin-right: 60px;
    justify-content: center;
  }