@mixin fuentePrincipal ($tipo, $color, $tamano){
    font-family: $tipo;
    color: $color;
    font-size: $tamano;
}

h1{
    @include fuentePrincipal(bold, white, 2em )
}


.construccionll{
    @extend .quienessomosll;
    background-color: violet;
}